label {
	display: block;
	margin-top: 20px;
}
.bottom-panel {
	margin-top: 20px;
}
.bottom-panel > div {
	padding: 10px;
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	background-color: #007fff;
	transition: all .5s;
}
.bottom-panel > div:hover
{
	background-color: #00b8ff;
}
#verna-loading-background {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,.8);
    top: 0;
	text-align: center;
	z-index: 99999;
}
@keyframes circle-size {
    from {
		width: 50px;
		height: 50px;
    }
    to {
		width: 100px;
		height: 100px;
		transform: rotate(360deg);
		opacity: 0;
		background-color: #c280ff;
    }
}
@-webkit-keyframes go-left-right {
    from {
		width: 50px;
		height: 50px;
    }
    to {
		transform: rotate(360deg);
		opacity: 0;
		background-color: #c280ff;
		transform: scale(1.3);
    }
}
#verna-loading-squad {
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	margin: auto 0;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	background-color: #ff8080;
	-webkit-animation: go-left-right 1s infinite;
	animation: go-left-right 1s infinite;
}

